{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<br><br><br>
<div class="beeriodicTable">
<div class="row">

    <div class="container">

   
        {% for beer in american %}
          <div class="american">
     <a href="/beers/{{beer.id}}">
              <div class="element">

              
        
                <h5>{{beer.symbol}}</h5>
                <h5>{{beer.id}}</h5>
          
                <p>
                    {{beer.alcoholnum}}<br>
                    {{beer.colornum}}<br>
                    {{beer.bitterness}}
                </p>
              
              </div>
              </a>
      <div class="longpopup">
          
            <h1>{{beer.name}}</h1>
          
            <p>{{beer.description}}</p>

      </div>
    </div>

{% endfor %}

   


    <div class="bohemian">
    {% for beer in bohemian %}
     <a href="/beers/{{beer.id}}">
       <div class="element">
        
          <h5>{{beer.symbol}}</h5>
          <h5>{{beer.id}}</h5>
         <p>{{beer.alcoholnum}}<br>
            {{beer.colornum}}<br>
            {{beer.bitterness}}</p>

      </div>
</a>
      <div class="longpopup">
          
          <h1>{{beer.name}}</h1>
          
            <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    </div>


    


    <div class="belgian">
    {% for beer in belgian %}
    <a href="/beers/{{beer.id}}">
       <div class="element">
        
          <h5>{{beer.symbol}}</h5>
          <h5>{{beer.id}}</h5>
          <p>{{beer.alcoholnum}}<br>
            {{beer.colornum}}<br>
            {{beer.bitterness}}</p>

      </div>
</a>
      <div class="longpopup">
          
          <h1>{{beer.name}}</h1>
          
            <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    
</div>

   



    <div class="french">
   {% for beer in french %}
   <a href="/beers/{{beer.id}}">
       <div class="element">
        
          <h5>{{beer.symbol}}</h5>
          <h5>{{beer.id}}</h5>
          <p>{{beer.alcoholnum}}<br>
            {{beer.colornum}}<br>
            {{beer.bitterness}}</p>

      </div>
</a>
      <div class="longpopup">
          
          <h1>{{beer.name}}</h1>
          
            <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    </div>


   



    <div class="german">
   {% for beer in german %}
   <a href="/beers/{{beer.id}}">
       <div class="element">
        
          <h5>{{beer.symbol}}</h5>
          <h5>{{beer.id}}</h5>
         <p>{{beer.alcoholnum}}<br>
            {{beer.colornum}}<br>
            {{beer.bitterness}}</p>

      </div>
      </a>

      <div class="longpopup">
          
          <h1>{{beer.name}}</h1>
          
            <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    

</div>
   



    <div class="english">

{% for beer in english %}
<a href="/beers/{{beer.id}}">
       <div class="element">
        
          <h5>{{beer.symbol}}</h5>
          <h5>{{beer.id}}</h5>
          <p>{{beer.alcoholnum}}<br>
            {{beer.colornum}}<br>
            {{beer.bitterness}}</p>

      </div>
      </a>

      <div class="longpopup">
          
          <h1>{{beer.name}}</h1>
          
          <p>{{beer.description}}</p>

          


      </div>
          {% endfor %}


    </div>





    <div class="others">

{% for beer in others %}
<a href="/beers/{{beer.id}}">
       <div class="element">
        
          <h5>{{beer.symbol}}</h5>
          <h5>{{beer.id}}</h5>
          <p>{{beer.alcoholnum}}<br>
            {{beer.colornum}}<br>
            {{beer.bitterness}}</p>

      </div>
      </a>

      <div class="longpopup">
          
          <h1>{{beer.name}}</h1>
          
          <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    </div>

</div>
</div>
</div>

{% endblock %}
