{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">

    <div class="american">
     {% for beer in american %}
      <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}
    </div>


   


    <div class="bohemian">
    {% for beer in bohemian %}
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    </div>


    


    <div class="belgian">
    {% for beer in belgian %}
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    </div>


   



    <div class="french">
   {% for beer in french %}
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    </div>


   



    <div class="german">
   {% for beer in german %}
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    </div>


   



    <div class="english">

{% for beer in english %}
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
          <p>{{beer.description}}</p>

          


      </div>
          {% endfor %}


    </div>






    <div class="english">

{% for beer in others %}
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
          <p>{{beer.description}}</p>

          


      </div>
      
    {% endfor %}

    </div>


</div>

{% endblock %}
