{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">

    <div class="american">

      <div class="element">
        {% for beer in beers %}
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          

{% endfor %}
      </div>
      

    </div>


   


    <div class="bohemian">
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          


      </div>
      

    </div>


    


    <div class="belgian">
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          


      </div>
      

    </div>


   



    <div class="french">
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          


      </div>
      

    </div>


   



    <div class="german">
       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
            <p>{{beer.description}}</p>

          


      </div>
      

    </div>


   



    <div class="english">


       <div class="element">
        
          <h5>Symbol which will consist of the first letter of Each word in the name string</h5>
          <ul>
            <li>{{beer.alcoholnum}}</li>
            <li>{{beer.colornum}}</li>
            <li>{{beer.bitternessnum}}</li>
          </ul>

      </div>

      <div class="longpopup">
          
          <h3>{{beer.name}}</h3>
          
          <p>{{beer.description}}</p>

          


      </div>
      

    </div>


</div>

{% endblock %}
