{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="row" id="breweriesHeader">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
			<div class="col-md-4 col-sm-4">
                <img src='{{brewery.image}}' style='height: 250px; width: 250px'>
			</div>
			<div class="col-sm-6 col-md-6">
                <h1><strong>Brewery:</strong> {{ brewery.name }} </h1>
					<p><strong> Address:</strong> {{brewery.address}} &nbsp; {{brewery.city}}, {{brewery.state}} &nbsp; {{brewery.zip}}</p>
					<p><strong> Description:</strong> {{brewery.description}}</>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="container-fluid">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            	<h2 class="text-center"><strong class="red">tapt</strong> @ {{brewery.name}}</h2>
            		{% if beers.length > 0 %}
            		{% for beer in beers %}
            		<div class='indBeer col-md-3'>
                  		<h4 class="text-center"><strong>{{beer.name}}</strong></h4>
                   		<p><strong>Type: </strong> {{beer.type}}
                   		<p><strong>Brewer: </strong> {{beer.brewer}}</p>
                   		<p><strong>ABV: </strong> {{beer.abv}}</p>
                   		<p><strong>IBU: </strong> {{beer.ibu}}</p>
                   		<p><strong>Description: </strong> {{beer.description}}</p>
                  		 <a href='/beer/{{beer.id}}' class="btn btn-primary pull-left btn-sm">Learn more</a>
               		<form class="" role="form" method="post" action="/beer/{{beer.id}}/save">
                		<input class="hidden" name="id" value="{{beer.id}}">
               			<button type="submit" class="btn btn-danger btn-sm pull-right">Save Beer</button>
                	</form>
					</div>
            		{% endfor %}
            		{% else %}
            		<h5 class="text-center red">There are no beers on tap at {{brewery.name}}</h5>
            		{% endif %}
        </div>
    </div>
</div>

{% endblock %}
