
.beeriodicTable {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.element{
  height:6%;
  width: 10%;
  float:right;
  margin: 1%;
  padding:;
  text-align: center;
  
  font-size: 6px; 
}
.longpopup{
  display: none;
  clear: both;
}

.beertypeslist h3 {
  color: #C63D0F;
}

.highlight{
  border: 2px solid yellow;
}
.hide{
  display:none;
}
.bohemians{
  display:none;
}

.americans{
  display:none;
}
.belgians{
  display:none;

}
.others1{
  display:none;
}
.frenchs{
  display:none;
}
.englishs{
  display:none;
}
.germans{
  display:none;
}
.show{
  display: block;
}
.not .american{
  background: green;
}
 .not .belgian {
  background: red; 
}
.not .english{
  background: blue; 
 

}
.not .german{
  background: yellow; 
  

}
.not .french{
  background: purple; 
  

}
.not .others{
  background: grey; 
 

}
.not .bohemian{
  background: orange; 
 

}