
.beeriodicTable {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.element{
  height:5%;
  width: 15%;
  float:right;
  margin: 1%;
  padding:;
  text-align: center;
  border: 1px solid black;
  font-size: 6px; 
}
.longpopup{
  display: none;
  clear: both;
}
.american .element{
  background: green;
  border:2px solid green;



}
.highlight{
  border: 2px solid yellow;
}
.hide{
  display:none;
}
.bohemians{
  display:none;
}

.americans{
  display:none;
}
.belgians{
  display:none;
}
.others1{
  display:none;
}
.frenchs{
  display:none;
}
.englishs{
  display:none;
}
.germans{
  display:none;
}
.show{
  display: block;
}
.belgian .element{
  background: red; 
  border:2px solid red;
  

}
.english .element{
  background: blue; 
  border:2px solid blue;

}
.german .element{
  background: yellow; 
  border:2px solid yellow;

}
.french .element{
  background: purple; 
  border:2px solid purple;

}
.others .element{
  background: grey; 
  border:2px solid grey;

}
.bohemian .element{
  background: orange; 
  border:2px solid orange;

}