
.beeriodicTable {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.element{
  height:6%;
  width: 10%;
  float:right;
  margin: 1%;
  padding:;
  text-align: center;
  
  font-size: 6px; 
}
.longpopup{
  display: none;
  clear: both;
}

.beertypeslist h3 {
  color: #C63D0F;
}

.highlight{
  border: 2px solid yellow;
}
.hide{
  display:none;
}
.bohemians{
  display:none;
}

.americans{
  display:none;
}
.belgians{
  display:none;

}
.others1{
  display:none;
}
.frenchs{
  display:none;
}
.englishs{
  display:none;
}
.germans{
  display:none;
}
.show{
  display: block;
}
.not .american{
  background: #FFCA5A;
}
 .not .belgian {
  background: #E58500; 
}
.not .english{
  background: #B04500; 
 

}
.not .german{
  background: #882300; 
  

}
.not .french{
  background: #600903; 
  

}
.not .others{
  background: #3F0708; 
 

}
.not .bohemian{
  background: orange; 
 

}


/*SRM COLOR PALLETTE
*/
/*#FFE699 -> 1
#FFD878 -> 2
#FFCA5A -> 3
#FFBF42 -> 4
#FBB123 -> 5 
#F8A600 -> 6 
#F39C00 -> 7 
#EA8F00 -> 8 
#E58500 -> 9 
#DE7C00 -> 10 
#D77200 -> 11 
#CF6900 -> 12 
#CB6200 -> 13 
#C35900 -> 14 
#BB5100 -> 15 
#B54C00 -> 16 
#B04500 -> 17
#A63E00 -> 18
#A13700 -> 19
#9B3200 -> 20
#952D00 -> 21
#8E2900 -> 22
#882300 -> 23
#821E00 -> 24
#7B1A00 -> 25
#771900 -> 26
#701400 -> 27
#6A0E00 -> 28
#660D00 -> 29
#5E0B00 -> 30
#5A0A02 -> 31
#600903 -> 32
#520907 -> 33
#4C0505 -> 34
#470606 -> 35
#440607 -> 36
#3F0708 -> 37
#3B0607 -> 38
#3A070B -> 39
#36080A -> 40*/















