
.beeriodicTable {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
button{
  border: none;
  background: #ebe8e8;
}
.element{
  height:6%;
  width: 10%;
  float:right;
  margin: 1%;
  padding:;
  text-align: center;
  
  font-size: 6px; 
}

.not a {
  color: white;
}

.longpopup{
  display: none;
  clear: both;
}


.beertypeslist h3 {
  color: #C63D0F;
}


.hide{
  display:none;
}
.bohemians{
  display:none;
}

.americans{
  display:none;
}
.belgians{
  display:none;

}
.thetop{
  text-align: center;
  color: #C63D0F;
}
.thetopp{
  text-align: center;
}
.others1{
  display:none;
}
.frenchs{
  display:none;
}
.englishs{
  display:none;
}
.germans{
  display:none;
}
.show{
  display: block;
}
.not .american{
  background: #FFCA5A;
}
.not .american .popover{
  background: #FFCA5A;
  color: white;
}
.not .american .popover-title{
  background: url('../../../images/beer_foam_by_danmandson-d53wplz.jpg');
  color: white;
  text-align: center;
}
 .not .belgian {
  background: #E58500;
  
 
}
.not .belgian .popover{
  background: #E58500;
  color: white;
}
.not .belgian .popover-title{
  background: url('../../../images/beer_foam_by_danmandson-d53wplz.jpg');
  color: white;
  text-align: center;
}
.not .english{
  background: #B04500;
  
}
.not .english .popover{
  background: #B04500;
  color: white;
}
.not .english .popover-title{
  background: url('../../../images/beer_foam_by_danmandson-d53wplz.jpg');
  color: white;
  text-align: center;
}
.not .german{
  background: #882300;

}
.not .german .popover{
  background: #882300;
  color: white;
}
.not .german .popover-title{
  background: url('../../../images/beer_foam_by_danmandson-d53wplz.jpg');
  color: white;
  text-align: center;
}
.not .french{
  background: #600903;
}
.not .french .popover{
  background: #600903;
  color: white;
}
.not .french .popover-title{
  background: url('../../../images/beer_foam_by_danmandson-d53wplz.jpg');
  color: white;
  text-align: center;
}
.not .others{
  background: #3F0708; 
}
.not .others .popover{
  background: #3F0708;
  color: white;
}
.not .others .popover-title{
  background: url('../../../images/beer_foam_by_danmandson-d53wplz.jpg');
  color: white;
  text-align: center;
}
.not .bohemian{
  background: orange; 
}
.not .bohemian .popover{
  background: orange;
  color: white;
}
.not .bohemian .popover-title{
  background: url('../../../images/beer_foam_by_danmandson-d53wplz.jpg');
  color: white;
  text-align: center;
}

.highlight{
border-left: 5px solid #0FC69C;
 }

.newhighlight{
  border-right: 5px solid #FF3571;
  border-left: 5px solid #FF3571;

}


/*SRM COLOR PALLETTE
*/
/*#FFE699 -> 1
#FFD878 -> 2
#FFCA5A -> 3
#FFBF42 -> 4
#FBB123 -> 5 
#F8A600 -> 6 
#F39C00 -> 7 
#EA8F00 -> 8 
#E58500 -> 9 
#DE7C00 -> 10 
#D77200 -> 11 
#CF6900 -> 12 
#CB6200 -> 13 
#C35900 -> 14 
#BB5100 -> 15 
#B54C00 -> 16 
#B04500 -> 17
#A63E00 -> 18
#A13700 -> 19
#9B3200 -> 20
#952D00 -> 21
#8E2900 -> 22
#882300 -> 23
#821E00 -> 24
#7B1A00 -> 25
#771900 -> 26
#701400 -> 27
#6A0E00 -> 28
#660D00 -> 29
#5E0B00 -> 30
#5A0A02 -> 31
#600903 -> 32
#520907 -> 33
#4C0505 -> 34
#470606 -> 35
#440607 -> 36
#3F0708 -> 37
#3B0607 -> 38
#3A070B -> 39
#36080A -> 40*/















