@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
/**
  Our Color Schema:
  whitish: #ebe8e8;
  redish: #C63D0F;
  greenish: #157342;
  blackish: #292929;
**/

body {
  font-family: 'Oswald', sans-serif;
  background: #ebe8e8;
  color: #292929;
}

strong {
  font-weight: 700;
}

a {
  color: #00B7FF;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-brand {
  padding-left: 20px;
}
/*.navbar .navbar-default {*/
  /*opacity: 0.8;*/
/*}*/

#indexHeader {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url('../images/tapt2.jpg');
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 450px;
}

#indexHeader h1 {
  vertical-align: middle;
  color: #ebe8e8;
  font-size: 100px;
  text-shadow: 1px 1px black;
  padding-top: 60px;
}
.taptHeader {
  margin-top: 40px;
}

.btn-primary {
  background: #157342;
  color: #ebe8e8;
  border: #157342;
}
.btn-default {
  background: #ebe8e8;
  border: #ebe8e8 ;
  color: #292929;
}
.btn-danger {
  background: #C63D0F;
  color: #ebe8e8;
  border: #C63D0F;
}

#about {
  padding-top: 40px;
  padding-bottom: 40px;
}

#about h1 {
  padding-bottom: 15px;
  font-size: 48px;
}

#breweryImg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/brewery.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  height: 400px;
  background-attachment: fixed;
}
#breweryImg h1 {
  color: #ebe8e8;
  font-variant: small-caps;
  vertical-align: middle;
  text-shadow: 1px 1px black;
  padding-top: 20px;
}
#breweryImg p {
  color: #ebe8e8;
  text-shadow: 1px 1px black;
}

#goTo {
  background: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}

#goTo img {
  height: 200px;
}

#streets {
  background: url("../images/bars2.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
}
#streets h2 {
  padding-top: 70px;
}
#streets h2, #streets p{
  color: #ebe8e8;
  text-shadow: 1px 1px black;
}

#contactSect {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  background: #292929;
  color: #ebe8e8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  bottom: 0;
  position: static;
}

#breweryHeader {
  margin-top: 50px;
  padding-bottom: 20px;
}

#userDash {
  margin-top: 60px;
}

#brewTitle {
  margin-top: 25vh;
}

#breweriesHeader {
  margin-top: 60px;
}
#breweriesHeader h1 {
  padding-bottom: 15px;
}

/* TODO: merge all stylesheets when finished */
.headerPage {
  margin-top: 60px;
}
#indHeader {
  margin-top: 60px;
}

#indHeader h1 {
  margin-bottom: 20px;
  font-variant: small-caps;

}

#indHeader #bDesc {
  padding-top: 20px;
}

.line {
  margin: 0 auto;
  background: #C63D0F;
  height: 4px;
  width: 60px;
}

.red {
  color: #C63D0F;
}

#map {
  height: 600px;
  width: 100%;
}

.indBeer {
  /*border: 1px solid #292929;*/
  /*-webkit-border-radius: 4px;*/
  /*-moz-border-radius: 4px;*/
  /*border-radius: 4px;*/
  /*padding-left: 20px;*/
  padding-bottom: 10px;
  /*margin-left: 10px;*/
  margin-top: 10px;
}

.indBeer p{
  margin-bottom: 5px;
}
#breweriesHeader h1 {
  font-size: 48px;
}

.deleteBrew {
  margin-bottom: 15px;
}

.beertypeslist h3:hover, .beertypeslist p:hover {
  cursor: pointer;
}